.game-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.game-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
}

#winner {
    margin-top: 1em;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.play-area {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
}

.result-area {
    text-align: center;
}

.block {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid #fffefe;
    transition: background 0.2s ease-in-out;
    background-color: #58959e;
    border-radius: 7px;
    color: white;
}

.block:hover {
    cursor: pointer;
    background: #0ff30f;
}

.occupied:hover {
    background: #ff3a3a;
}

.win {
    background: #0ff30f;
}

.win:hover {
    background: #0ff30f;
}

#block_0,
#block_1,
#block_2 {
    border-top: none;
}

#block_0,
#block_3,
#block_6 {
    border-left: none;
}

#block_6,
#block_7,
#block_8 {
    border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
    border-right: none;
}

#btnReset {
    outline: none;
    border: 4px solid #58959e;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
    border-radius: 21px;
}

#btnReset:hover {
    cursor: pointer;
    background: #58959e;
    color: white;
}

.playerWin {
    color: green;
}

.computerWin {
    color: red;
}

.draw {
    color: orangered;
}

@media only screen and (max-width: 600px) {
    #winner {
        margin-top: 1em;
        font-size: 1.3rem;
    }
}
