@import "common.css";
:root {
    --main-blue-color: #0645FF;
    --main-white-color: #fff;
    --main-tag-color: #aaa;
    --main-tag-hover: #fff;
    --color-hover: #f5f5f5;
    --main-background: #0f0f23;
    --color-title: #22272a;
    --color-subheading: #8c8c8c;
    --color-text: #22272a;
    --color-background: #fcfcfc;
    --color-heading: #2b2b2b;
    --font-brand-tertiary: NeutraText-Bold;
}
