:root {
    --main-blue-color: #0645FF;
    --main-white-color: #fff;
    --main-tag-color: #aaa;
    --main-tag-hover: #fff;
    --color-hover: #f5f5f5;
    --main-background: #0f0f23;
    --color-title: #22272a;
    --color-subheading: #8c8c8c;
    --color-text: #22272a;
    --color-background: #fcfcfc;
    --color-heading: #2b2b2b;
    --font-brand-tertiary: NeutraText-Bold;
}

@font-face {
    font-family: 'Apple Chancery';
    font-weight: normal;
    font-style: normal;
    src: local('Apple Chancery'), url('/assets/fonts/Apple Chancery.woff') format('woff');
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul {
    margin: 0;
    padding: 0
}

body {
    font: 300 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.725;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

blockquote, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul {
    margin-bottom: 0.2rem
}

img {
    max-width: 100%;
    vertical-align: middle
}

figure > img {
    display: block
}

figcaption {
    font-size: .875rem
}

ol, ul {
    margin-left: 2rem
}

li > ol, li > ul {
    margin-bottom: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold
}

a {
    color: var(--main-blue-color);
    text-decoration: none;
}

blockquote {
    color: var(--color-text);;
    padding-left: 1rem;
    border-left: 2px solid var(--color-title);;
    font-style: italic;
    font-size: .795rem;
    margin-top: 1rem;
}

blockquote > :last-child {
    margin-bottom: 0
}

code {
    font-family: "JetBrains Mono", monospace;
    color: #f14e32
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    border: 1px solid #eaeaea
}

pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    tab-size: 4;
    color: inherit
}

table, th, td {
    border: 1px dashed var(--color-title);;
    padding: 10px;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
}

td, th {
    padding: 0.5rem;
    line-height: inherit
}

th {
    text-align: left;
    vertical-align: bottom;
}

hr {
    border: none;
    border-top: 1px solid #f7f7f7;
    margin: 2rem auto
}

.underlined {
    flex: 1;
    text-decoration: none;
    background-image: linear-gradient(to right, #ff0 0, #ff0 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s
}

.underlined:hover {
    background-size: 100% 100%
}

.underlined--thin {
    background-image: linear-gradient(to right, #000 0, #000 100%)
}

.underlined--thick {
    background-position: 0 -0.1em
}

.underlined--offset {
    background-position: 0 0.2em;
    box-shadow: inset 0 -.5em 0 0 white
}

.underlined--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, #ff0 0, #90ee90 100%)
}

.underlined--reverse {
    background-position: 100% -0.1em;
    transition: background 1s;
    background-image: linear-gradient(to right, #ff0 0, #ff0 100%)
}

.mermaid {
    text-align: center;
}

.site-header {
    border-bottom: 1px solid #eaeaea;
    margin-top: -2rem;
    max-width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.site-header p {
    font-size: 1.1rem
}

.site-header .site-intro {
    font-size: 0.9rem
}

.site-header .site-nav {
    font-weight: bold;
}

.site-nav-el {
    color: var(--color-text);
}

.smallcap {
    font-size: 1.5rem;
    font-weight: bold
}

.smallcap a, .smallcap a:hover {
    font-family: "Apple Chancery", serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    color: var(--color-heading);
    padding: 0.2rem 0.5rem;
    text-shadow: 0 0 0, 0 0 0;
}

.page-content {
    position: relative;
    padding: 2rem 1.5rem;
    margin: 1rem auto;
    box-sizing: border-box;
    max-width: 50%; 
}

.home section + section {
    margin-top: 2rem;
    max-width: 100% 
}

.emoji {
    width: 24px;
}

/*post-list*/
.post-list {
    list-style-type: none;
}

.post-list > li {
    margin-left: -2rem
}

.post-list > li a {
    font-weight: normal
}

.post-list > li:hover {
    background-color: var(--color-hover);
    color: var(--main-white-color);
    text-decoration: none;
}

.post-list > li time {
    font-size: 0.75em;
    color: var(--color-title);
    font-weight: bold;
}

.post-link-container {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
}

.post-link-title {
    font-size: 1.5rem;
    letter-spacing: -1px;
    color: var(--color-title);
    width: 100%;
    margin: 0;
    /*font-family: var(--font-brand-tertiary);*/
}

.post-link-subtext {
    /*font-family: var(--font-brand-secondary);*/
    font-display: swap;
    font-size: 1rem;
    letter-spacing: -1px;
    color: var(--color-subheading);
    margin-bottom: unset;
}

@media screen and (max-width: 600px) {
    .post-list > li time {
        display: block;
        font-size: .875rem
    }
}

/*tags*/
.tag {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.75em !important;
    color: black;
    padding: 5px;
}

.tag:hover {
    background-color: var(--main-blue-color);
    color: var(--main-tag-hover);
    text-decoration: none;
}

.tags {
    margin-left: 4em;
}

.tags > li {
    margin-bottom: .5rem;
    margin-left: -2rem
}

.tags > li a {
    color: var(--main-tag-color);
    text-decoration: underline;
    font-weight: normal
}

.tags > li a:hover {
    color: var(--main-tag-hover);
    text-decoration: underline
}

.tags > li time {
    font-size: .875rem;
    color: #aaa;
    display: inline-block
}

@media screen and (max-width: 600px) {
    .tags > li time {
        display: block;
        font-size: .875rem
    }
}

.tags__count {
    background: var(--main-blue-color);
    border-radius: 5px;
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 10px;
    text-decoration: none;
}

.tag-title {
    color: #0645ad
}

.post-header {
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.post-title {
    font-size: 1.85rem;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--color-heading);
}

.post-meta .post-date, .post-meta .post-tag {
    display: inline;
}

.post-meta .post-tag:before {
    content: "|";
}

.post-tag .fa {
    margin-left: 10px;
    margin-right: 10px;
}

/*post-content*/
.post-content {
    margin-bottom: 2rem;
    font-weight: normal
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin-top: 1.3rem;
    font-weight: bold;
    color: var(--color-title);
}

.post-content h2:hover::before {
    position: absolute;
    left: 0.35rem;
    color: #0645ad;
    content: "#";
    font-weight: bold;
}

.post-content h3 {
    position: relative;
    display: block;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 1rem;
}

.post-content h3:hover::before {
    position: absolute;
    left: -1rem;
    top: -3px;
    color: #0645ad;
    content: "#";
    font-weight: bold;
    font-size: 1.2rem;
}

.post-content h4 {
    position: relative;
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 0.95rem
}

.post-content h5, .post-content h6 {
    font-size: 1rem
}

.copyright {
    border-top: 1px solid #eaeaea;
    margin-top: 2rem;
    font-family: Inconsolata, Monaco, Consolas, monospace;
    text-align: center;
}


/*poem-content*/
.poem-content {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: normal
}

.poem-content > ul {
    text-align: left;
}

.poem-content img {
    border-radius: 3%;
    max-width: 50%;
}

.poem-content h1, .poem-content h2, .poem-content h3, .poem-content h4, .poem-content h5, .poem-content h6 {
    margin-top: 0.3rem;
    font-weight: bold;
}

.poem-content h1, .poem-content h2 {
    font-size: 1.75rem
}

.poem-content h3 {
    position: relative;
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 1rem;
}

.poem-content h3:before {
    position: absolute;
    left: -1rem;
    top: -3px;
    color: #0645ad;
    font-weight: bold;
    font-size: 1.2rem;
}

.poem-content h4 {
    position: relative;
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: #383838;
    text-transform: none;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 0.95rem
}

.poem-content h5, .post-content h6 {
    font-size: 1rem
}

.poem-overlay {
    position: fixed;
    top: 50%;
    left: 5%;
    text-align: left;
}

.poem-closebtn {
    display: none;
}

.poem-openBtn {
    display: none;
}

@media screen  and (max-width: 600px) {
    .poem-openBtn {
        display: inline-block;
        position: fixed;
        top: 50%;
        left: 5%;
        text-align: left;
    }

    .poem-overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .poem-overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .poem-overlay a {
        padding: 8px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .poem-overlay a:hover, .poem-overlay a:focus {
        color: #f1f1f1;
    }

    .poem-overlay .poem-closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}

/* end poem */

.copyright p {
    margin-top: 1rem;
    color: #aaa;
    font-family: "Apple Chancery", serif;
}

.copyright p a, .copyright p a:visited {
    color: var(--color-heading)
}

.highlight {
    background-color: #fcfcfc;
    color: #586e75
}

.highlight .c {
    color: #93a1a1
}

.highlight .err {
    color: #586e75
}

.highlight .g {
    color: #586e75
}

.highlight .k {
    color: #859900
}

.highlight .l {
    color: #586e75
}

.highlight .n {
    color: #586e75
}

.highlight .o {
    color: #859900
}

.highlight .x {
    color: #cb4b16
}

.highlight .p {
    color: #586e75
}

.highlight .cm {
    color: #93a1a1
}

.highlight .cp {
    color: #859900
}

.highlight .c1 {
    color: #93a1a1
}

.highlight .cs {
    color: #859900
}

.highlight .gd {
    color: #2aa198
}

.highlight .ge {
    color: #586e75;
    font-style: italic
}

.highlight .gr {
    color: #dc322f
}

.highlight .gh {
    color: #cb4b16
}

.highlight .gi {
    color: #859900
}

.highlight .go {
    color: #586e75
}

.highlight .gp {
    color: #586e75
}

.highlight .gs {
    color: #586e75;
    font-weight: bold
}

.highlight .gu {
    color: #cb4b16
}

.highlight .gt {
    color: #586e75
}

.highlight .kc {
    color: #cb4b16
}

.highlight .kd {
    color: #268bd2
}

.highlight .kn {
    color: #859900
}

.highlight .kp {
    color: #859900
}

.highlight .kr {
    color: #268bd2
}

.highlight .kt {
    color: #dc322f
}

.highlight .ld {
    color: #586e75
}

.highlight .m {
    color: #2aa198
}

.highlight .s {
    color: #2aa198
}

.highlight .na {
    color: #586e75
}

.highlight .nb {
    color: #B58900
}

.highlight .nc {
    color: #268bd2
}

.highlight .no {
    color: #cb4b16
}

.highlight .nd {
    color: #268bd2
}

.highlight .ni {
    color: #cb4b16
}

.highlight .ne {
    color: #cb4b16
}

.highlight .nf {
    color: #268bd2
}

.highlight .nl {
    color: #586e75
}

.highlight .nn {
    color: #586e75
}

.highlight .nx {
    color: #586e75
}

.highlight .py {
    color: #586e75
}

.highlight .nt {
    color: #268bd2
}

.highlight .nv {
    color: #268bd2
}

.highlight .ow {
    color: #859900
}

.highlight .w {
    color: #586e75
}

.highlight .mf {
    color: #2aa198
}

.highlight .mh {
    color: #2aa198
}

.highlight .mi {
    color: #2aa198
}

.highlight .mo {
    color: #2aa198
}

.highlight .sb {
    color: #93a1a1
}

.highlight .sc {
    color: #2aa198
}

.highlight .sd {
    color: #586e75
}

.highlight .s2 {
    color: #2aa198
}

.highlight .se {
    color: #cb4b16
}

.highlight .sh {
    color: #586e75
}

.highlight .si {
    color: #2aa198
}

.highlight .sx {
    color: #2aa198
}

.highlight .sr {
    color: #dc322f
}

.highlight .s1 {
    color: #2aa198
}

.highlight .ss {
    color: #2aa198
}

.highlight .bp {
    color: #268bd2
}

.highlight .vc {
    color: #268bd2
}

.highlight .vg {
    color: #268bd2
}

.highlight .vi {
    color: #268bd2
}

.highlight .il {
    color: #2aa198
}
